# Ignorar todos los archivos CSV
*.csv

# Ignorar carpetas específicas
Datos interesantes/

# Ignorar archivos temporales de Jupyter
.ipynb_checkpoints/

# Ignorar archivos grandes que no deben ir a GitHub
*.zip
*.tar.gz
*.7z
*.rar

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
